@import '../../../variables.scss';

.home_section{
    padding-top: 90px;
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    align-items: center;
}
.container_titulos{
    display: flex;  
    flex-direction: column;
    justify-content: start;
    width: 90%;
}

h2{
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: $text-color;
}

h3{
    margin: 0;
    font-size: 0.8em;
}

.container_socialmedia{
    background-image: url('../../../assets/foto_home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 90%;
    height: 355px;
    display: flex;
    justify-content:center;
    align-items: center;
}

ul{
    margin-top: 190px;
    padding-left: 220px
}

li{
    list-style: none;
}

li > a{
    text-decoration: none;
    color: $text-color;
}

a > img {
    width: 50px;
    margin: 0px 15px;
}