<section class="home_section">
    <span></span>
    <div class="content">
        <div class="container_socialmedia">
            <ul class="social-media_list">
                <li>
                    <a href="https://www.linkedin.com/in/juan-salles/">
                        <img src="../../../assets/Logo_redesSociais/Linkedin.png" alt="Linkedin">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/JuanSalles">
                        <img src="../../../assets/Logo_redesSociais/Github.png" alt="Github">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/juansalles.dev/">
                        <img src="../../../assets/Logo_redesSociais/Instagram.png" alt="Instagram">
                    </a>    
                </li>
            </ul>
        </div>
        <div class="container_titulos">
            <h2>Juan Salles</h2>
            <h3>Full Stack Developer</h3> 
        </div>
    </div>
    <span></span>
    
</section>
