<section class="home_section">
    <div class="Container_Textos">
        <div class="titulos">
            <h1>Juan Salles</h1>
            <p>&lt;/&gt; Desenvolvedor Full Stack</p>
        </div>
        <div class="container_socialmedia">
            <ul class="social-media_list">
                <li>
                    <a href="https://www.linkedin.com/in/juan-salles/">
                        <img src="../../../assets/Header/LOGO_MIDIAS/Linkedin_Header.png" alt="Linkedin">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/JuanSalles">
                        <img src="../../../assets/Header/LOGO_MIDIAS/Github_Header.png" alt="Github">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/juansalles.dev/">
                        <img src="../../../assets/Header/LOGO_MIDIAS/Instagram_Header.png" alt="Instagram">
                    </a>    
                </li>
            </ul>
        </div>
        <div class="citacao">
            <p>"Be water, my friend"</p>
            <p>- Bruce Lee</p>
        </div>
    </div>
    <figure class="container_avatar">
        <img src="../../../assets/Home/AVATAR-HOME-BANNER2.png" alt="Ilustração de Juan com uma capa da akatsuki">
    </figure>
</section>
