@import '../../../variables.scss';

.home_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 53.4333px;
    font-family: $font-banner;
    color: $text-color-banner;
    border-bottom: 3px solid $border-banner;
    justify-content: center;
}

 .container_Background{
    background: url('../../../assets/Home/BACKGROUND-CORVOS1.png'), url('../../../assets/Home/BACKGROUND-CORVOS2.png'), $background-banner;
    background-size:contain, contain, cover;
    background-repeat: no-repeat, no-repeat, no-repeat; 
    background-position: 0 0, 100% 100%, 0 0;
    width: 100vw;
    height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Container_Textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.titulos{
    margin-bottom: 20px;
    text-align: center;
}
h1{
    font-size: 58px;
    margin: 0;
    line-height: 0.8;
}

.citacao{
    text-align: center;
}
p{
    font-size: 16px;
    margin: 0;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

a > img{
    width: 45px;
}

figure{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

figure > img{
    width: 191px;
    padding-right: 15px;
}

@media (min-width: 768px){
    
    .home_section{
        margin-top: 94px;
    }

    .container_socialmedia{
        display: none;
    }

    .Container_Textos{
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px){

    .container_Background{
        height: 500px;
    }

    h1{
        font-size: 120px;
    }
    p{
        font-size: 24px;
    }
    
}