@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Mohave:ital,wght@0,300..700;1,300..700&family=Oleo+Script:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background:  url('../src/assets/Backgrounds/Background_anime.png'), $background-color;
    background-position: start, center;
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-attachment: fixed;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.title-pagina{
    font-size: 2.5em;
    margin-right: auto;
    padding-left: 20px;
    font-family: $font-titles;
    color: $texto-colot-title;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media (min-width: 1716px){
    body{
        background:  url('../src/assets/Backgrounds/Background_anime2.png'), url('../src/assets/Backgrounds/Background_anime.png'), $background-color;
        background-position: 0% 80%, 0% 0%, center;
        background-repeat: no-repeat;
        background-size: auto, cover, cover;
        background-attachment: fixed;
    }
}