$primary-color: #69b0b5;
$secondary-color: #8456d6;
$thirdy-color: #057694;
$background-color: #051825;
$text-color: #c9dbe0;
$border-color: #c9dbe0;
$hover-color: #69b0b5;
$font-family: 'Roboto', sans-serif;