<section class="about_container">
    <span></span>
    <div class="text_container">
        <h1>Sobre</h1>
        <p>
            Trabalho com tecnologia a 10 anos em uma emissora de TV, anteriormente como Técnico em eletrônica dando suporte a sistemas broadcasts e atualmente sou um desenvolvedor Fullstack. Ocupo a posição de analista de sistemas, implementando e dando suporte as soluções (softwares e infraestrutura) de negócio da empresa e estou muito empenhado em me tornar um grande engenheiro de software.
        </p>
        <p>
            Sou ex-aluno do Instituto Federal de Ciência e Tecnologia da Bahia, lá me formei como técnico em eletrônica. Atualmente, estou me formando em Analise e Desenvolvimento de Sistemas e tenho forte interesse em seguir carreira como especialista. Amo aprender, colaborar e trabalhar em prol dos resultados, expandir meus horizontes e estou aberto a pensar diferente.
        </p>
    </div>
    
</section>

    

