<section class="about_container">
    <div class="text_container">
        <h1 class="title-pagina">About() &#123;</h1>
        <div class="header-prompt">
            <div class="icones-mac">
                <div class="circulo vermelho"></div>
                <div class="circulo amarelo"></div>
                <div class="circulo verde"></div>
            </div>
        </div>
        <img class="fotoPerfil" src="../../../assets/About/Foto-Perfil.png" alt="Foto de perfil de Juan Salles">
        <div class="header-prompt">
            <div class="icones-mac">
                <div class="circulo vermelho"></div>
                <div class="circulo amarelo"></div>
                <div class="circulo verde"></div>
            </div>
        </div>
        <div class="prompt">
            <p>
                > Olá,<br>
                Me chamo Juan. Trabalho há mais de 10 anos com tecnologia. Meu primeiro  contato com programação foi em 2011, durante meu primeiro ano no ensino  médio técnico no Instituto Federal de Ciência e Tecnologia da Bahia  (IFBA ou CEFET para os mais íntimos). 
            </p>
            <p>
                > Após me formar em 2015, consegui uma posição como  técnico e atuei no ramo operacional de eletrônica e televisão. Sempre  tive o desejo de continuar aprendendo programação, o que me levou, em  2021, a investir meu tempo de estudo na área e me enxergar como  desenvolvedor.
            </p>
            <p>
                > Comecei meus estudos com Javascript e seus frameworks no frontend e,  posteriormente, conquistei minha primeira vaga como Analista de Sistemas  na mesma empresa em que trabalhava como técnico (onde continuo até  hoje). Com essa oportunidade, pude adentrar no mundo do backend e agora  consigo atuar como fullstack, oferecendo suporte aos sistemas da empresa  e desenvolvendo novas aplicações com diversas tecnologias.
            </p>
            <p>
                > Continuo estudando incessantemente, passo a passo, e aos poucos  conquistando meu espaço no mundo da tecnologia. A frase "só sei que nada  sei" nunca fez tanto sentido; quanto mais aprendo, mais percebo o  quanto ainda tenho a aprender, mantendo-me sempre motivado.
            </p>
        </div>
        <h1 class="title-pagina">&#125;</h1>
    </div>
    
</section>

    

